* {
  font-family: "Montserrat", Sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* header section */

.top-nav{
  display: flex;
  align-items: center;
  padding-top: 23px;
  padding-left: 68px;
  padding-right: 68px;
  position: fixed;
  z-index: 999;
}

.right-top{
  padding-left: 420px;
}

ul {
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  margin-top: 0;
}

ul li {
  display: inline-block;
  margin-inline: 25px;
  cursor: pointer;
}
ul li:hover {
  text-decoration: underline;
}

ul li a{
  display: block;
  color: black;
  text-align: justify;
  text-decoration: none;
}

ul li .dropdown-content li {
  display: block;
  padding: 15px;
}

ul li .dropdown-content {
  background-color: white;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.dropdown-content{
  display: block;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.gs-btn {
  background-color: transparent;
  border-radius: 15px;
  transition: background-color 1s;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  border: 1.5px solid #161616;
  padding: 8px 24px;
  border-radius: 30px;
  align-items: center;
}

.gs-btn:hover {
  background-color: black;
  color: white;
}

/* This is Top Div*/

.container {
  background-image: url("images/voltn-main-bg.svg");
}

.child1{
  display: flex;
  padding-top: 100px;
  padding-left: 75px
}

.left-side-top{
  padding-top: 80px;
}

.lfttxtUp {
  color: #161616;
  font-size: 68px;
  font-weight: bold;
  /* line-height: 80px; */
  padding-bottom: 10px;
}

.lfttxtDn{
  color: #161616;
  font-family: "Montserrat", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}

.mid-side-top {
  padding-right: 65px;
}

.lightning-iphone-img {
  position: relative;
  left: 0;
}

/* .flower-shadow-img{
  position: absolute;
  top: -50px;
  width: 120px;
  right: 0;
} */

.mid-btn {
  margin: 0;
}

.get-btn {
  border: none;
  margin-top: 50px;
  color: white;
  transition: background-color 1s;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  background-color: #161616;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #161616;
  border-radius: 32px 32px 32px 32px;
  padding: 16px 32px 16px 32px;
}

.get-btn:hover {
  border: 1px solid black;
  background-color: transparent;
  border-color: black;
  color: black;
  cursor: pointer;
}

.ser-btn{
  border: none;
  background-color: transparent;
  font-size: 20px;
  padding-left: 20px;
  /* line-height: 1.5; */
}

.ser-btn:hover{
  cursor: pointer;
}

.lftcir-btn{
  border: none;
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-left: 10px;
}

/* under the phone */

.trust-txt{
  width: 100%;
  margin-top: 55px;
  align-items: center;
  text-align: center;
}

.trust-part-txt {
  text-align: center;
  color: #545453;
  font-family: "Montserrat", Sans-serif;
  font-size: 18px;
  font-weight: 600;
}

/* counter design */

.counter {
  display: flex;
  width: 100%;
}

.counter-1,
.counter-2,
.counter-3,
.counter-4{
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 50px;
  align-items: center;
}

.count1234h1 {
  color: #010102;
  font-weight: 700;
  font-size: 69px;
  line-height: 1;
  text-align: center;
}

.count1234p{
  font-weight: 500;
  color: #000;
  line-height: 2.5;
  font-size: 19px;
}

/* sponer design */

.sposner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.sponser-1{
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 50px;
}

.sho-img,
.goog-img,
.meta-img,
.bba-img,
.klivy-img,
.part-img {
  height: 55px;
  padding-inline: 10px;
  opacity: 0.8;
}

.seo-img{
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.9;
}

/* container 2 */

.container-2-child{
  padding: 120px 0 120px 0;
  text-align: center;
}

.container-2-h1{
  color: #161616;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.container-2-p{
  color: #161616;
  font-family: "Montserrat", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

/* container 3 */

.container-3{
  background-color: #E5F0E4;
}

.container-3-child1 {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 40px 0 40px 0;
}

.container-3-left{
  width: 40%;
  padding: 0 80px 0 80px;
}

.container-3-h1{
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.container-3-p{
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.container-3-right{
  padding: 40px 0px 40px 0px;
}

.container-3-img{
  width: 100%;
  max-width: 496px;
  height: 444px;
}

/* conntainer 3 child 2 */

.container-3-child2{
  display: flex;
  align-items: center;
}

.container-3-child2-leftup,
.container-3-child2-leftdo,
.container-3-child2-midup,
.container-3-child2-middo{
  margin: 0 0 0 0;
  padding: 0 0 64px 0;
}

.container-3-child2-left,
.container-3-child2-mid{
  padding-left: 70px;
}

.container-3-child2-head{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #141414;
}

.container-3-child2-p{
  text-align: left;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container-3-child2-right{
  padding-right: 70px;
}

.container-3-child2-img{
  width: 360px;
}

/* container 4 */

.container-4-child1{
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  padding: 120px 0 120px 0;
  align-items: center;
}

.container-4-child1-left{
  padding-left: 80px;
  padding-right: 20px;
  width: 50%;
}

.container-4-child1-h1{
  color: #161616;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.container-4-child1-right{
  padding-right: 80px;
  padding-left: 20px;
  width: 50%;
}

.container-4-child1-p{
  color: #161616;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

/* container 4 child 2 */

.container-4-child2{
  padding: 0 0 70px 60px;
}

.container-4-child2-row1{
  display: flex;
  width: 100%;
  padding: 0 0 20px 0;
}

.container-4-child2-row1-1,
.container-4-child2-row1-2,
.container-4-child2-row1-3,
.container-4-child2-row1-4,
.container-4-child2-row2-1,
.container-4-child2-row2-2,
.container-4-child2-row2-3{
  border: 1px solid #E5F0E4;
  padding: 15px;
}

.bg {
  background-color:  #E5F0E4;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-radius: 20px;
}

.container-4-child2-row2{
  display: flex;
  width: 100%;
}

.pic-heading{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #161616;
  order: 0;
  margin: 2px 0;
  width: 75%;
  padding-top: 20px;
  text-decoration: underline;
  text-decoration-color: #4169e1;
}

.pic-heading:hover{
  text-decoration-color: #000;
}

.child2-row-sp{
  padding: 0 15px 0 0;
}

.drop {
  position: relative;
  top: -20px;
  left: 170px;
}

/* container 5 */

.container-5{
  background-color: #FFF8E1;
  margin-top: 0;
  margin-bottom: 0;
  padding: 120px 0 120px 0;
}

.container-5-txt-div{
  padding:0 0 0 70px;
}

.container-5txt{ 
  text-align: left;
  color: #FE7100;
  font-family: "Montserrat", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.container-5-h-div{
  padding:40px 0 0 70px;
}

.container-5h2{
  color: #161616;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.container-5-qou-div{
  padding:50px 0 0 70px;
}

.container-5-com-div{
  padding:20px 500px 0 100px;
}

.conatiner-5-com-name-div{
  display: flex;
  padding: 50px 0 0 100px;
}

.conatiner-5-com-name-span{
  padding: 20px 0 0 20px;  
}

.conatiner-5-com-status{
  color: #545453;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* container 6 */

.container-6-child{
  padding: 100px 250px 100px 250px;
  text-align: center;
}

.container-6-h1{
  color: #161616;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 20px;
}

.container-6-p{
  color: #161616;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

/* container 7 */

.container-7{
  display: flex;
}

.container-7-img{
  height: 510px;
}

/* container 8 */

.container-8{
  margin-top: 0;
  margin-bottom: 0;
  padding: 64px 0 120px 0;
  text-align: center;
}

.sor-btn{
  background-color: transparent;
  border: none;
  margin-top: 50px;
  color: black;
  transition: background-color 1s;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #161616;
  border-radius: 32px 32px 32px 32px;
  padding: 16px 32px 16px 32px;
}

.sor-btn:hover {
  border: 1px solid black;
  background-color: #161616;
  border-color: black;
  color: white;
  cursor: pointer;
}

/* container 9 */

.container-9-main{
  background-image: url("images/footer-top-img-min.png");
  margin-top: 0;
  margin-bottom: 0;
  padding: 80px 70px 80px 70px;
  align-items: center;
  text-align: center;
}

.container-9-next{
  background-image: url("images/footer-bot-squares.png");
  padding: 40px 0 40px 0;
}

.container-9-h1{
  color: #161616;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding: 0 0 20px 0;
}

.container-9-h6{
  color: #161616;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  padding: 0 0 20px 0;
}

.lgt-btn{
  border: none;
  margin-top: 50px;
  color: white;
  transition: background-color 1s;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  background-color: #161616;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #161616;
  border-radius: 32px 32px 32px 32px;
  padding: 16px 32px 16px 32px;
}

.lgt-btn:hover {
  border: 1px solid black;
  background-color: transparent;
  border-color: black;
  color: black;
  cursor: pointer;
}

/* container 10 */

.container-10{
  background-color: #000;
}

.container-10-child1{
  display: flex;
  justify-content: space-between;
  padding: 100px 70px 20px 70px;
}

.container-10-txt{
  text-align: center;
  color: #8F8F8E;
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
}

.container-10-icon{
  height: 20px;
}

.container-10-child1 a{
  text-decoration: none;
}

.klaviyo-partner-img{
  height: 59px;
}

.container-10-child2{
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 70px 0 100px 0;
}

.container-10-sac{
  color: #8F8F8E;
  text-decoration: none;
  padding: 0 0 10px 0;
}

.container-10-num{
  color: #FEE182;
  transition: color 0.3s;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;

}

.container-10-num:hover{
  text-decoration: underline;
  text-decoration-color: #7A7A7A;
}

.container-10-child2 a{
  text-decoration: none;
}

.company-div{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.company-div a,
.location-div a,
.mf-txt{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.f-s{
  padding: 0 0 10px 0;
}

.location-div{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.loc::after{
  content: url("images/arrow-right-up-line-1.svg");
}