.container-4{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 80px 0px 80px 0px;
}

.container4-child{
  display: flex;
  padding: 0 0 0 30px;
}

.container4child-left{
  width: 30%;
  margin: 0px 0px 0px 0px;
  padding: 25px 0px 25px 24px;
  border-left-style: solid;
  border-left-width: 4px;
  border-left-color: #CF876A;
}

.container4childleft-h1{
  color: #164C30;
  font-family: "Proxima Extra Bold", Sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
}

/* container 3 child2 */

.container4-child2{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 70px 0px 0px 0px;
  width: 100%;
  display: flex;
}

.container4child2-left{
  width: 58%;
  padding-left: 20px;
}

.container4child2left-top,
.container4child2left-center,
.container4child2left-bottom,
.container4child2left-bottom1{
  display: flex;
  padding: 35px 0px 35px 0px;
  width: 100%;
}

.container4child2top-left,
.container4child2center-left,
.container4child2bottom-left,
.container4child2bottom1-left{
  width: 30%;
}

.container4child2top-right,
.container4child2center-right,
.container4child2bottom-right,
.container4child2bottom1-right{
  width: 100%;
}

.container4-img{
  width: 80%;
}

.container4-p{
  color: #000000;
  font-family: "Proxima Thin", Sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 38px;
}

.container4child2-right{
  width: 42%;
  text-align: right;
  padding-right: 20px;
}

.container4right-img{
  width: 75%;
}