.container-1{
  padding: 30px 0px 40px 0px;
}

.container1-child{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.container1-left{
  width: 45%;
  /* padding: 0 0 0 20px; */
}

.container1-txt{
  padding: 0 0 10px 0;
}

.container1-h1{
  color: #164C30;
  font-family: "Proxima Extra Bold", Sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  padding: 0 0 0 25px;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #CF876A;
}

.container1-p{
  color: #000000;
  font-family: "Proxima Thin", Sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  padding: 0 0 0 20px;
}

.container1-btn{
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0 20px;
}

.refer-btn,
.partner-btn{
  border: none;
  font-family: "Proxima Reg", Sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  line-height: 30px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #164C30;
  border-radius: 40px 40px 40px 40px;
  padding: 8px 50px 8px 50px;
}

.refer-btn:hover,
.partner-btn:hover{
  opacity: 0.9;
  cursor: pointer;
}

.container1-right{
  width: 45%;
}

.container1-img{
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.Gab-container {
  background-color: #F1F1F2;
  height: 50px;
}